                body {
                    font-family: Arial, sans-serif;
                    background-color: #fcf6e6;
                }
                
                header {}
                
                nav-item {
                    font-size: 20px;
                    font-weight: 100;
                }
                
                .h2 {
                    margin-top: 20px;
                    color: #333;
                }
                
                footer {
                    background-color: #340f77;
                }
                
                footer h5 {
                    color: white;
                }
                
                footer p,
                footer a {
                    color: #666;
                }
                
                .google-map {
                    height: 50px;
                    width: 50px;
                }